#articles {
	background: $first-background url("../images/projects.png") no-repeat center bottom;
	padding-bottom: 9rem;

	img {
		width: 100%;
	}

	h3 {
		font-size: 1.5rem;
		margin-top: 1.875rem;
		font-weight: bold;
	}

	p.date {
		font-size: 0.9rem;
	}

	.latest {
		margin-bottom: 1.875rem;
	}
}