header {
	height: 100vh;
	background: url("../images/about-me.png") center bottom no-repeat, url("../images/introduction.jpg") 50% 0% no-repeat fixed;
	color: $introduction-text-color;

	> div.title {
		height: 100vh;

		h1, h2 {
			font-weight: normal;
			display: block;
			margin: 0;
			font-size: 2.625rem;

			span {
				color: $third-color;
			}
		}
	}

	img {
		width: 100%;
	}
}