#skills {
	background: $second-background url("../images/articles.png") no-repeat center bottom;
	padding-bottom: 8rem;

	.line {
		margin-bottom: 1rem;

		img {
			margin: auto;
			display: block;
		}
	}

	@media screen and (max-width: 767px) {
		.line img {
			margin: 1rem auto;
		}
	}
}