$action-color: #04c2c9;
$third-color: #de4344;
$text-color: #444649;
$first-background: #ffffff;
$second-background: #f5f5f5;

/*-------- GENERAL SIZES AND COLORS --------*/
$title-size: 2.625rem;
$title-color: $text-color;

/*-------- INTRODUCTION COLOR --------*/
$introduction-text-color: #ffffff;


/*-------- CONTACT COLOR --------*/
$contact-background: #252934;
$contact-color: #ffffff;