$action-color: #04c2c9;
$third-color: #de4344;
$text-color: #444649;

/*-------- GENERAL SIZES AND COLORS --------*/
$title-size: 2.625rem;
$title-colors: $text-color;

/*-------- INTRODUCTION COLOR --------*/
$introduction-text-color: #ffffff;